@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0f7fa;
    transition: background-color 0.3s ease;
}

body.dark-mode {
    background-color: #121212;
}

.card {
    position: relative;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding: 30px;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    overflow: hidden;
}

.contact-button {
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.contact-button:hover {
    background-color: #004d40;
}

#contact-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.card h1 {
    margin: 20px 0 10px;
    font-size: 28px;
    background: linear-gradient(90deg, #ff0066, #ffcc00, #33cc33, #0066ff);
    background-size: 400%;
    -webkit-background-clip: text;
    color: transparent;
    animation: colorShift 5s linear infinite;
}

@keyframes colorShift {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.card p {
    margin: 5px 0;
    color: #616161;
}

.card a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #00796b;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #004d40;
}

body.dark-mode .card {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .card p {
    color: #bbbbbb;
}

body.dark-mode .card a {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .card a:hover {
    background-color: #555555;
}

.social-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 1px;
}

.social-buttons .social-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-buttons .social-icon img {
    width: 40px;
    height: 40px;
}

.social-buttons .social-icon:hover {
    transform: scale(1.1) rotate(10deg);
    background-color: transparent;
}

body.dark-mode .social-buttons .social-icon {
    background-color: transparent;
}

body.dark-mode .social-buttons .social-icon:hover {
    background-color: transparent;
}

/* Bouncing Background */
.background-icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background-icons img {
    opacity: 0.1;
    animation: float 10s infinite alternate, rotate 20s linear infinite, scale 10s ease-in-out infinite alternate, bounce 5s infinite linear;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
}

/* Toggle Button Slider */
.switch {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 24px;  /* Adjusted width */
    height: 13.6px; /* Adjusted height */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 13.6px; /* Match height for smooth round corners */
}

.slider:before {
    position: absolute;
    content: "";
    height: 10.4px;  /* Adjusted height */
    width: 10.4px;   /* Adjusted width */
    left: 1.6px;     /* Adjusted left position */
    bottom: 1.6px;   /* Adjusted bottom position */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(12px); /* Match the new width of the slider */
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
